@font-face {
  font-family: myFirstFont;
  src: url(https://cdn.glitch.com/841c3949-0d22-4645-ad1b-f135438c9dfc%2FVoyage-Regular.ttf?v=1617805272092);
}

@font-face {
  font-family: mySecondFont;
  src: url(https://cdn.glitch.com/841c3949-0d22-4645-ad1b-f135438c9dfc%2FBon%20Vivant%20Serif%20Bold.otf?v=1617807393903);
}

* {
  margin: 0;
  padding: 0;
  box-sixing: border-box;
  background: black;
  scroll-behavior: smooth;
}

/*RING CURSOR*/
#mouse-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -12px 20px 0 -22px;
  border: 2.5px solid #efebe8;
  border-radius: 50%;
  pointer-events: none;
  background: transparent;
}

/*FÖRSTA SIDAN*/

div.container1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div.text1 {
  width: 30%;
  margin-left: 50%;
  margin-top: 10%;
  border: 1px solid black;
  font-family: mySecondFont;
  font-size: 20px;
  animation: fadein 8s linear;
}

@keyframes fadein {
  0% {
    color: #efebe8;
  }
  100% {
    color: black;
  }
}

#klicka {
  box-sixing: border-box;
  font-family: MySecondFont;
  color: yellow;
  border: transparent;
  margin-top: -50%;
  margin-left: -75%;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  animation: animeraklick 5s linear;
  animation-fill-mode: forwards;
  outline: none;
  display: inline-block;

}

@keyframes animeraklick {
  0% {
    opacity: 0;
    color: black;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    color: yellow;
  }
}

div.first {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  float: left;
  font-family: myFirstFont;
  color: #efebe8;
  padding-left: 5vh;
  font-size: 12vw;
  text-align: left;
  padding-top: 10vh;
  line-height: 0.9;
  background-image: url(https://cdn.glitch.com/841c3949-0d22-4645-ad1b-f135438c9dfc%2F28subKEATS-superJumbo.jpg?v=1618146623256);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*ANDRA SIDAN */

div.container2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ramensbild img {
  position: absolute;
  display: inline-block;
  width: 45%;
  margin-left: 25%;
  margin-top: -49%;
  background: transparent;
}



#massatext {
  box-sizing: border-box;
  font-family: myFirstFont;
  color: #efebe8;
  font-size: 27px;
  text-align: center;
  width: 32vw;
  margin-left: 31.5%;
  margin-top: -44%;
  display: inline-block;
}

#polisbild {
  margin-left:4%;
  margin-top: 45%;
  display: inline-block;
}

#klickaknapp2 {
  box-sixing: border-box;
  font-family: MySecondFont;
  color: yellow;
  border: transparent;
  font-size: 20px;
  margin-left: 75%;
  margin-top: -1%;
  cursor: pointer;
  background-color: transparent;
  animation: animeraklick2 1s linear infinite alternate;
  display: inline-block;
  border: none;
  outline: none;
}

@keyframes animeraklick2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*TREDJE SIDAN*/

div.container3 {
  width: 100vw;
  height: 100vh;
}

#klickaknapp3 {
  box-sixing: border-box;
  font-family: MySecondFont;
  color: yellow;
  border: transparent;
  font-size: 20px;
  margin-left: 58%;
  margin-top: 54%;
  cursor: pointer;
  background-color: transparent;
  animation: animeraklick2 1s linear infinite alternate;
  display: inline-block;
  border: none;
  outline: none;
  z-index: 10;
}

@keyframes animeraklick3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*SIDA FYRA*/

div.container4 {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  overflow: hidden;
}

a:link {
  margin-top: 25%;
margin-left: 300px;
  font-family: myFirstFont;
  font-size: 80px;
  color: #efebe8;
  background-color: transparent;
  text-decoration: none;
  display: block;
}
a:visited {
  margin-top: 25%;
    margin-left: 300px;

   font-family: myFirstFont;
  font-size: 80px;
  color: #efebe8;
  background-color: transparent;
  text-decoration: none;
  display: block;

}

#natureLogo {
  margin-top: -10%;
  margin-left: 85%;
}